.quiz {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    /* background-color: brown; */
    border: 1px solid;
    justify-content: space-evenly;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.question {
    width: 90%;
}

.spinbutton {
    display: flex;
}

.spinbutton > * {
    margin-right: 10px;
}
