.results {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid;
    align-items: center;
}

.params {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.param {
    margin-top: 5px;
}
